<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
											layout:decorate="layouts/common">
<head>
<meta charset="ISO-8859-1">
<title>Chat</title>
</head>
<body>
<!-- This page provides content for the chat page.  It includes forms to create an
object using Thymeleaf and displays the response information in a div using Javascript -->
	<div layout:fragment="content">
		<h1>AI Chatbot</h1>
		
		<form action="/chat" th:action="@{/chat}" th:object="${chatRequest}" method="post">
			<table>
				<tr>
					<td>Question:</td>
					<td><input type="text" th:field="*{messages}" id="question" name="messages"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit"/></td>
				</tr>
			</table>
		</form>
		
		<!-- Provide the result in a container when it is generated-->
		<br>
		<br>
		<div id="resultContainer"></div>
	
		<script th:inline="javascript">
		    var chatResponse = /*[[${chatResponse}]]*/ null; // Get the user info from Thymeleaf
		    // Check if user info is available and form has been submitted
		    if (chatResponse != null) {
		        var resultContainer = document.getElementById("resultContainer");
		        
		        // Create and populate result content
		        var resultContent = document.createElement("div");
		        resultContent.innerHTML = `
		            <div id="resultInfo">
		                <h2><strong>Response:</strong></h2>
		                <p>${chatResponse}</p>
		                <button onclick="clearFormAndResult()">Clear</button>
		            </div>
		        `;
		        
		        // Append result content to the result container
		        resultContainer.appendChild(resultContent);
		    }
		    function clearFormAndResult() {
		        // Clear the form fields (assuming they have IDs)
		        document.getElementById("question").value = "";
		        
		        // Clear the result area and hide labels
		        var resultContainer = document.getElementById("resultContainer");
		        resultContainer.innerHTML = "";
		    }
		</script>
	</div>
	
</body>
</html>