<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/common">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit User</title>
</head>
<body>
    <!-- This page provides content for the edituser page. It includes forms to edit a user using Thymeleaf -->
    <div layout:fragment="content">
        <h1 class="text-center">Edit User</h1>

        <div class="mx-auto" style="width: 400px;">
		    <div class="row justify-content-center">
		        <div class="col-4">
		            <strong>ID:</strong>
		        </div>
		        <div class="col-8">
		            <span th:text="${user.idUser}"></span>
		        </div>
		    </div>
		
		    <div class="row justify-content-center">
		        <div class="col-4">
		            <strong>First Name:</strong>
		        </div>
		        <div class="col-8">
		            <span th:text="${user.firstName}"></span>
		        </div>
		    </div>
		
		    <div class="row justify-content-center">
		        <div class="col-4">
		            <strong>Last Name:</strong>
		        </div>
		        <div class="col-8">
		            <span th:text="${user.lastName}"></span>
		        </div>
		    </div>
		
		    <div class="row justify-content-center">
		        <div class="col-4">
		            <strong>Password:</strong>
		        </div>
		        <div class="col-8">
		            <span th:text="${user.password}"></span>
		        </div>
		    </div>
		</div>

		
		<div class="mx-auto" style="width: 500px;">
            <form action="#" th:action="@{/edituser/{id}(id=${user.idUser})}" th:object="${user}" method="post">
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" th:field="*{lastName}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" th:field="*{password}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a th:href="@{/deleteuser/{id} (id=${user.idUser})}" th:object="${user}">
                    <button type="button" class="btn btn-danger">Delete User</button>
                </a>
                <a th:href="@{/userslist}">
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </a>
            </form>
        </div>
    </div>
</body>
</html>
