<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
											layout:decorate="layouts/common">
<head>
<meta charset="ISO-8859-1">
<title>Create User</title>
</head>
<body>
<!-- This page provides content for the signup page.  It includes forms to create a userInfo
object using Thymeleaf and displays the object information in a div using Javascript -->
	<div layout:fragment="content">
		<h1 class="text-center">Create User</h1>
		
		<form action="#" th:action="@{signup}" th:object="${userInfo}" method="post">
			<div class="form-group">
                   <label>First Name:</label>
                   <input type="text" th:field="*{firstName}" class="form-control">
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" th:field="*{lastName}" class="form-control">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" th:field="*{password}" class="form-control">
            </div>
			<button type="submit" class="btn btn-primary">Save Changes</button>
		</form>
		
		<!-- Provide the result in a container when it is generated-->
		<br>
		<br>
	
		<div id="resultContainer"></div>
		
		<script th:inline="javascript">
		    var userInfo = /*[[${userInfo}]]*/ null; // Get the user info from Thymeleaf
		    // Check if user info is available and form has been submitted
		    if (userInfo.firstName != null && userInfo.firstName != "" && userInfo.lastName != "" && userInfo.password != "") {
		        var resultContainer = document.getElementById("resultContainer");
		        
		        // Create and populate result content
		        var resultContent = document.createElement("div");
		        resultContent.innerHTML = `
		            <div id="resultInfo">
		        		<p><strong>New User Added</p>
		        		<p><strong>User ID:</strong> ${userInfo.idUser}</p>
		                <p><strong>First Name:</strong> ${userInfo.firstName}</p>
		                <p><strong>Last Name:</strong> ${userInfo.lastName}</p>
		                <p><strong>Password:</strong> ${userInfo.password}</p>
		                <button onclick="clearFormAndResult()">Clear</button>
		            </div>
		        `;
		        
		        // Append result content to the result container
		        resultContainer.appendChild(resultContent);
		    } 
		    
		    function clearFormAndResult() {
		        // Clear the form fields (assuming they have IDs)
		        document.getElementById("firstName").value = "";
		        document.getElementById("lastName").value = "";
		        document.getElementById("password").value = "";
		        
		        // Clear the result area and hide labels
		        var resultContainer = document.getElementById("resultContainer");
		        resultContainer.innerHTML = "";
		    }
		</script>
	</div>
	
</body>
</html>